{% extends "base.html" %}
{% load cache %}
{% block title %}
    {{ object.title }}
{% endblock %}
{% block content %}
<h1>
    {{ module.title }}
</h1>
<div style="display: flex;">
    <div class="contents">
        <h3>Modules</h3>
        <ul id="modules">
            {% for m in object.modules.all %}
            <li data-id="{{ m.id }}" {% if m == module %}class="selected" {% endif %}>
                <a href="{% url 'student_course_detail_module' object.id m.id %}">
                    <span>
                        Module <span class="order">{{ m.order|add:1 }}</span>
                    </span>
                    <br>
                    {{ m.title }}
                </a>
            </li>
            {% empty %}
            <li>No modules yet.</li>
            {% endfor %}
        </ul>
        <h3>
            <a href="{% url 'chat:course_chat_room' object.id %}">
                Course chat room
            </a>
        </h3>
    </div>
    <div class="module" style="flex: 1; max-width: none;">
        <!-- Cache contents in tempalte -->
        <!-- تم تمرير module مختلف لكل content عشان ما يصير في تعارض بعرض ال content ويعرض content ثانية -->
        {% cache 600 module_contents module %}
            {% for content in module.contents.all %}
                {% with item=content.item %}
                    <h2>{{ item.title }}</h2>
                    {{ item.render }}
                {% endwith %}
            {% endfor %}
        {% endcache %}
    </div>
</div>
{% endblock %}