{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html class="h-full bg-gray-100">
  <head>
    <meta charset="utf-8" />
    <title>
      {% block title %}
        Educa
      {% endblock %}
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.2/css/all.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
    {% tailwind_css %}
  </head>
  <body class="h-full">
    <div class="min-h-full">
      <nav class="bg-gray-800">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
          <div class="flex h-16 items-center justify-between">
            <div class="flex items-center">
              <div class="shrink-0">
                <a href="/"><img src="{% static 'images/graduation-hat.png' %}" alt="Educa Logo" class="size-14" /></a>
              </div>
              <div class="hidden md:block">
                <div class="ml-10 flex items-baseline space-x-4">
                  <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-white/5 hover:text-white" -->
                  <a href="/"
                    aria-current="page"
                    class="rounded-md px-3 py-2 text-sm font-medium {% if request.path == '/' %}
                      
                       bg-gray-900 text-white

                    {% else %}
                      
                       text-gray-300 hover:bg-white/5 hover:text-white

                    {% endif %}">
                    Courses
                  </a>
                  <a href="{% url 'student_course_list' %}"
                    class="rounded-md px-3 py-2 text-sm font-medium {% if request.resolver_match.url_name == 'student_course_list' %}
                      
                       bg-gray-900 text-white

                    {% else %}
                      
                       text-gray-300 hover:bg-white/5 hover:text-white

                    {% endif %}">
                    My Learning
                  </a>
                  {% if request.user.is_authenticated and perms.courses.view_course %}
                    <a href="{% url 'manage_course_list' %}"
                      class="rounded-md px-3 py-2 text-sm font-medium {% if request.resolver_match.url_name == 'manage_course_list' %}
                        
                         bg-gray-900 text-white

                      {% else %}
                        
                         text-gray-300 hover:bg-white/5 hover:text-white

                      {% endif %}">
                      Manage Courses
                    </a>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="hidden md:block">
              <div class="ml-4 flex items-center md:ml-6">
                {% if request.user.is_authenticated %}
                  <!-- Profile dropdown -->
                  <el-dropdown class="relative ml-3">
                    <button class="relative flex max-w-xs items-center rounded-full focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
                      <span class="absolute -inset-1.5"></span>
                      <span class="sr-only">Open user menu</span>
                      <img src="{% static 'images/user.png' %}" alt="" class="size-8 rounded-full outline -outline-offset-1 outline-white/10" />
                    </button>

                    <el-menu anchor="bottom end" popover class="w-48 origin-top-right rounded-md bg-white py-1 shadow-lg outline-1 outline-black/5 transition transition-discrete [--anchor-gap:--spacing(2)] data-closed:scale-95 data-closed:transform data-closed:opacity-0 data-enter:duration-100 data-enter:ease-out data-leave:duration-75 data-leave:ease-in">
                      <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();" class="block px-4 py-2 text-sm text-gray-700 focus:bg-gray-100 focus:outline-hidden">Logout</a>
                      <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
                        {% csrf_token %}
                      </form>
                    </el-menu>
                  </el-dropdown>
                {% else %}
                  <div class="space-x-4">
                    <a href="{% url 'login' %}"
                      class="rounded-md px-3 py-2 text-sm font-medium {% if request.resolver_match.url_name == 'login' %}
                        
                         bg-gray-900 text-white

                      {% else %}
                        
                         text-gray-300 hover:bg-white/5 hover:text-white

                      {% endif %}">
                      Sign in
                    </a>
                    <a href="{% url 'student_registration' %}"
                      class="rounded-md px-3 py-2 text-sm font-medium {% if request.resolver_match.url_name == 'student_registration' %}
                        
                         bg-gray-900 text-white

                      {% else %}
                        
                         text-gray-300 hover:bg-white/5 hover:text-white

                      {% endif %}">
                      Sign up
                    </a>
                  </div>
                {% endif %}
              </div>
            </div>
            <div class="-mr-2 flex md:hidden">
              <!-- Mobile menu button -->
              <button type="button" command="--toggle" commandfor="mobile-menu" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-white/5 hover:text-white focus:outline-2 focus:outline-offset-2 focus:outline-indigo-500">
                <span class="absolute -inset-0.5"></span>
                <span class="sr-only">Open main menu</span>
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 in-aria-expanded:hidden">
                  <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 not-in-aria-expanded:hidden">
                  <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </button>
            </div>
          </div>
        </div>

        <el-disclosure id="mobile-menu" hidden class="block md:hidden">
          <div class="space-y-1 px-2 pt-2 pb-3 sm:px-3">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-white/5 hover:text-white" -->
            <a href="/"
              aria-current="page"
              class="block rounded-md px-3 py-2 text-base font-medium {% if request.path == '/' %}
                
                 bg-gray-900 text-white

              {% else %}
                
                 text-gray-300 hover:bg-white/5 hover:text-white

              {% endif %}">
              Courses
            </a>
            <a href="{% url 'student_course_list' %}"
              class="block rounded-md px-3 py-2 text-base font-medium {% if request.resolver_match.url_name == 'student_course_list' %}
                
                 bg-gray-900 text-white

              {% else %}
                
                 text-gray-300 hover:bg-white/5 hover:text-white

              {% endif %}">
              My Learning
            </a>
            {% if request.user.is_authenticated and perms.courses.view_course %}
              <a href="{% url 'manage_course_list' %}"
                class="block rounded-md px-3 py-2 text-base font-medium {% if request.resolver_match.url_name == 'manage_course_list' %}
                  
                   bg-gray-900 text-white

                {% else %}
                  
                   text-gray-300 hover:bg-white/5 hover:text-white

                {% endif %}">
                Manage Courses
              </a>
            {% endif %}
            {% if not request.user.is_authenticated %}
              <a href="{% url 'login' %}"
                class="block rounded-md px-3 py-2 text-base font-medium {% if request.resolver_match.url_name == 'login' %}
                  
                   bg-gray-900 text-white

                {% else %}
                  
                   text-gray-300 hover:bg-white/5 hover:text-white

                {% endif %}">
                Sign in
              </a>
              <a href="{% url 'student_registration' %}"
                class="block rounded-md px-3 py-2 text-base font-medium {% if request.resolver_match.url_name == 'student_registration' %}
                  
                   bg-gray-900 text-white

                {% else %}
                  
                   text-gray-300 hover:bg-white/5 hover:text-white

                {% endif %}">
                Sign up
              </a>
            {% endif %}
          </div>
          {% if request.user.is_authenticated %}
            <div class="border-t border-white/10 pt-4 pb-3">
              <div class="flex items-center px-5">
                <div class="shrink-0">
                  <img src="{% static 'images/user.png' %}" alt="" class="size-10 rounded-full outline -outline-offset-1 outline-white/10" />
                </div>
                <div class="ml-3">
                  <div class="text-base/5 font-medium text-white">{{ request.user.get_full_name }}</div>
                  <div class="text-sm font-medium text-gray-400">{{ request.user.email }}</div>
                </div>
              </div>
              <div class="mt-3 space-y-1 px-2">
                <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();" class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-white/5 hover:text-white">Logout</a>
              </div>
            </div>
          {% endif %}
        </el-disclosure>
      </nav>

      {% include 'includes/breadcrumb.html' %}

      <header class="relative bg-white shadow-sm">
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
          <h1 class="text-3xl font-bold tracking-tight text-gray-900">
            {% block header %}

            {% endblock %}
          </h1>
        </div>
      </header>

      <main>
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
          {% block content %}

          {% endblock %}
        </div>
      </main>
    </div>

    {% block include_js %}

    {% endblock %}
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        {% block domready %}
        {% endblock %}
      });
    </script>
  </body>
</html>
